@import "config";
@import "global";

/* Borders */
/* --------------------------------------------------------------------------- */

.brdr-b { border-bottom: solid 1px; }

/* Colors */
/* --------------------------------------------------------------------------- */

@each $name, $color in $colors {
	.clr-#{$name} { 
		color: $color; 
	}
	.bg-#{$name} { background-color: $color; }
}

/* Dimmensions */
/* --------------------------------------------------------------------------- */

.wh { width: $em; height: $em; }
.wh-x { width: $em * 2; height: $em * 2; }
.wh-xx { width: $em * 3; height: $em * 3; }
.wh-xxx { width: $em * 4; height: $em * 4; }

/* Display */
/* --------------------------------------------------------------------------- */

.l-block { display: block; }

/* Margin */
/* --------------------------------------------------------------------------- */

.l-ma { margin-left: auto; margin-right: auto; }

/* Padding */
/* --------------------------------------------------------------------------- */

.l-pad-t--1-2, .l-pad--1-2 { padding-top: $em/2; }
.l-pad-r--1-2, .l-pad-h--1-2 { padding-right: $em/2; }
.l-pad-b--1-2, .l-pad--1-2 { padding-bottom: $em/2; }
.l-pad-l--1-2, .l-pad-h--1-2  { padding-left: $em/2; }

.l-pad-t, .l-pad { padding-top: $em; }
.l-pad-r, .l-pad-h { padding-right: $em; }
.l-pad-b, .l-pad { padding-bottom: $em; }
.l-pad-l, .l-pad-h  { padding-left: $em; }

/* Position */
/* --------------------------------------------------------------------------- */

.l-rel { position: relative; }

/* Text-align */
/* --------------------------------------------------------------------------- */

.ta-right { text-align: right; }
.ta-center { text-align: center; }
.ta-left { text-align: left; }

/* Vertical align */
/* --------------------------------------------------------------------------- */

.va-middle { vertical-align: middle; }

/* Typography */
/* --------------------------------------------------------------------------- */

.h1 { 
	font-size: 20px; font-weight: bold; line-height: inherit; font-family: inherit; 
}

/* Width */
/* --------------------------------------------------------------------------- */

.w-max { max-width: 800px; }

.w-100 { width: 100%; }